body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
}

.container {
  display:flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  align-content: flex-start;
  background-color: black;
}

button {
  margin-bottom: 50px;
}